@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #f1f3f7;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}

/* LOGO */
.logo {
  border-bottom: 1px solid grey;
}

/* HEADING */
.heading {
  padding: 1rem;
  color: rgb(66, 66, 66);
}
.heading-line {
  display: flex;
  justify-content: center;
}

.heading-bold {
  font-size: 3rem;
  font-weight: 700;
}

.heading-medium {
  font-size: 3rem;
  font-weight: 300;
}

.heading-thin {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 200;
}

/* SEARCH MENUS */
.search-options {
  padding: 0.8rem 0.5rem;
  background: grey;
  display: grid;
  grid-template-columns: 14rem 12rem 12rem 12rem 5rem;
  column-gap: 2rem;
}

.select {
  padding: 0.4rem;
}

.ais-SearchBox select {
  padding: 0.4rem;
}
